.counter {
    background-color: purple;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cadetblue;
}